:root {
    --background-color:#fdfdfd8a;
    --blanco:#fdfdfd;
    --error:#a92525;
    --gray-ligth:#ccc;
    --font-color:#1e1e1e;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --box-shadow: 1px 2px 5px rgb(0, 0, 0,0.3);
}
body{
    background-image: url('../img/pintura-lago-montana-montana-al-fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
html,body{
    margin: 0;
    padding: 0;
}
div,button{
    border-radius: 4px;
}
button,a{
    cursor: pointer;
}
*{
    color:var(--font-color);
    box-sizing: border-box;
}
button{
    background-color: var(--background-color);
    border: solid 1px var(--font-color);
    /* color:var(--primary-color) */
}
.btn {
    width: 30px;
    height: 30px;
}
.btn-rm{
    font-weight: 700;
}
.btn-ok{
    color:  var(--primary-color);
    border-color: var(--primary-color);
    transition: ease background-color 2s color 3s;
}
.btn-ok:hover{
    background-color: var(--primary-color);
    color: var(--blanco);
}
form {
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    column-gap: 10px;
}
.error{
    color:var(--error)
}